/* DON'T CHANGE THE STYLE.CSS !!!
 * ------------------------------
 * PLEASE REFER TO THE LESS FILES
 * FOUND IN less/
 * ------------------------------
 * MAIN: IMPORTING ALL SUBMODULES AND TOOLS
 * LAYOUT: APPLYING EVERY COMPONENT
 */

/* VENDOR STYLES */

@import url(vendor/normalize.less);
@import url(vendor/angular-grid.css);

/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
//@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300);

/* UTILITIES */

@import url(variables.less);
@import url(tools.less);
@import url(grid.less);

/* MAIN */

@import url(base.less);
@import url(forms.less);
@import url(layout.less);
